body {
  background-image: linear-gradient(to right, black, #671bff);
  font-family: 'Montserrat', sans-serif;
  }

  h3 {
    color: white;  
  }
  
  .form {
    background-color: #121212;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    padding: 20px 10px;
    border-radius: 25px;
  }
  
  .form-body > * {
    padding: 5px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form__label {
    color: white;
    width: 40%;
  }
  
  .form__input {
    width: 60%;
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255,255,255,.3);
    color: #fff;
    outline: none;
    font-family: 'Montserrat', sans-serif;
  }

  .btn {
    background: #fff;
    border-radius: 25px;
    padding: 12.5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer {
    text-align: center;
  }
  